---
layout: layouts/fullwidth.njk
title: "Use cloud first"
weight: 1
date: 2021-06-30
date_view: "2021-06-30"
review_in: 12 months
tags: 
    - assessment_index
contributors: 
    - "John Nolan"
---

{%- from "../../_includes/partials/indexlist.njk" import indexList %}
{{ indexList(title, '<p class="govuk-body">Consider using public cloud solutions first as stated in the Cloud First policy.</p>', collections.cloud_first) }}
