---
layout: layouts/fullwidth.njk
title: Architectural Decision Records
---

{%- from "../../node_modules/govuk-frontend/govuk/components/table/macro.njk" import govukTable %}
{%- from "../_includes/partials/statusBadge.njk" import statusBadge -%}

{% set adrList = [] %}
{% for adr in collections.adr %}
    {% set adrList = (adrList.push([
        {html: statusBadge({status: adr.data.status})},
        {text: adr.data.adr_number},
        {html: 
            '<a href="' + (adr.url) + '" class="govuk-link">' + (adr.data.title) + '</a>'
        }]),
    adrList) %}
{% endfor %}

{{ govukTable({
  caption: "Architectural Decision Records",
  captionClasses: "govuk-heading-xl",
  firstCellIsHeader: false,
  head: [
    {
      text: "Status"
    },
    {
      text: "ADR no."
    },
    {
      text: "Title"
    }
  ],
  rows: adrList
  
}) }}
