---
layout: layouts/fullwidth.njk
title: Architectural Decision Records
---

{%- from "../_includes/partials/indexlist.njk" import indexList %}
{{ indexList(title, '<p class="govuk-body">Index of all recorded ADRs</p>', collections.adr) }}
