---
layout: layouts/fullwidth.njk
title: Research & Development
---

{%- from "../_includes/partials/indexlist.njk" import indexList %}
{{ indexList(title, '<h2 class="govuk-heading-m">Index of all articles</h2>', collections.research_development) }}
