---
layout: layouts/fullwidth.njk
title: Research & Development
---

{%- from "../_includes/partials/indexlist.njk" import indexList %}
{{ indexList(title, '<p class="govuk-body">Index of all articles</p>', collections.research_development) }}
