---
layout: layouts/fullwidth.njk
title: GDS Assessment
---

{%- from "../_includes/partials/indexlist.njk" import indexList %}
{{ indexList(title, '<p class="govuk-body">Index of all GDS Assessment articles</p>', collections.assessment_index) }}
