{% macro assessmentTags(params) %}
 
{%- from "../../../node_modules/govuk-frontend/govuk/components/tag/macro.njk" import govukTag -%}
<ul class="govuk-list govuk-list--inline">
    {% for tag in params %}
        {% if tag !== 'research_development' %}
            {% if tag !== 'adr' %}
                <li>
                    {{ govukTag({
                            text: tag.replace('_', ' ')
                        })
                    }}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endmacro %}
