---
layout: layouts/fullwidth.njk
backLink: "/adr/"
---

{%- from "../../_includes/macros/contentMetaData.njk" import contentMetaData %}
{%- from "../../_includes/macros/statusBadge.njk" import statusBadge -%}
{%- from "../../_includes/macros/assessmentTags.njk" import assessmentTags %}

<h1 class="govuk-heading-xl">{{adr_number}} - {{title}}</h1>

<h2 class="govuk-heading-m">Overview</h2>

{{ contentMetaData(date, contributors) }}
{{ assessmentTags(tags) }}

<h3 class="govuk-heading-s">Status</h3>
<p class="govuk-body">{{statusBadge({status: status})}}</p>


<h3 class="govuk-heading-s">Areas of coverage</h3>
<ul class="govuk-list">
    {%- for item in areas_of_coverage -%}
        <li>{{ item }}</li>
    {%- endfor -%}
</ul>

{{ content | safe }}

{%- include "../partials/githubHistory.njk" -%}
