---
layout: layouts/fullwidth.njk
backLink: "/adr/"
---

{%- from "../../_includes/macros/pageContentMetaData.njk" import pageContentMetaData %}
{%- from "../../../node_modules/govuk-frontend/govuk/components/summary-list/macro.njk" import govukSummaryList %}

<h1 class="govuk-heading-xl">{{adr_number}} - {{title}}</h1>

{{ pageContentMetaData(date, contributors, status, tags) }}

{{ content | safe }}

{%- include "../partials/githubHistory.njk" -%}
