---
layout: layouts/fullwidth.njk
backLink: "/research-development/"
---

<h1 class="govuk-heading-xl">{{title}}</h1>

{%- from "../../_includes/macros/contentMetaData.njk" import contentMetaData %}
{%- from "../../_includes/macros/assessmentTags.njk" import assessmentTags %}
{{ contentMetaData(date, contributors) }}
{{ assessmentTags() }}

<nav aria-label="Contents" role="navigation">
<h2 class="govuk-heading-s">Contents</h2>
{{ content | toc | safe }}
</nav>

{{ content | safe }}

{%- include "../partials/githubHistory.njk" -%}
