---
layout: layouts/fullwidth.njk
backLink: "/"
---
{%- from "../../node_modules/govuk-frontend/govuk/components/tag/macro.njk" import govukTag -%}

<h1 class="govuk-heading-xl">LPA JSON Schema</h1>

<ul class="govuk-list govuk-list--bullet">
    <li>
        Schema: {{schemas.test.$schema}}
    </li>
    <li>
        Ref: {{schemas.test.$ref}}
    </li>
</ul>

<h2 class="govuk-heading-l">Definitions</h2>

{% for definitionName, definitionItem in schemas.test.definitions %}

  <h3 id="#/definitions/{{ definitionName }}" class="govuk-heading-m">{{ definitionName }}</h3>

  {% for name, item in definitionItem %}

      <p class="govuk-body">
          {% if name === "properties" %}
            
            <h4 class="govuk-heading-s">{{ name }}</h4>
            <ul class="govuk-list govuk-list--bullet">
              {% for propertyName, propertyItem in item %}

                <li>
                    {{propertyName}}
                    {% if propertyName in definitionItem.required %}
                      {{ govukTag({
                        text: "required",
                        classes: 'govuk-tag--red'
                        })
                      }}
                    {% endif %}

                    <ul class="govuk-list govuk-list--bullet">
                      {% for propertyDetailName, propertyDetailItem in propertyItem %}
                        <li>
                          {% if propertyDetailName === "type" %}
                            Type: {{ govukTag({
                                text: propertyDetailItem,
                                classes: 'govuk-tag--green'
                                })
                              }}
                          {% endif %}
                          {% if propertyDetailName !== "type" %}
                          {{propertyDetailName}}: {{propertyDetailItem}}
                          {% endif %}

                        </li>

                      {% endfor %}
                    </ul>

                </li>

              {% endfor %}
            </ul>

          {% endif %}

          {% if name === "type" %}
            Type: {{ govukTag({
                text: item,
                classes: 'govuk-tag--green'
                })
              }}
          {% endif %}

          {% if name === "additionalProperties" %}
            {% if item === true %}
              Schema accepts additional properties
            {% endif %}
            {% if item === false %}
              Schema <strong>does not accept</strong> additional properties
            {% endif %}
          {% endif %}
      </p>

  {% endfor %}

{% endfor %}
