---
layout: layouts/fullwidth.njk
title: Modernising Lasting Power of Attorney Documentation
---
<h1 class="govuk-heading-xl">Modernising Lasting Power of Attorney Documentation</h1>
<p class="govuk-body">
    <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="/research-development">
                Research &amp; Development
            </a>
        </li>
        <li>
            <a class="govuk-link" href="/adr">
                Architectural Decision Records
            </a>
        </li>
    </ul>
</p>
