---
layout: layouts/fullwidth.njk
title: Modernising Lasting Power of Attorney Documentation
mastheadTitle: "Modernising Lasting Power of Attorney Documentation"
mastheadDescription: "Documentation site for all technical research and decision records for the Modernising Lasting Power of Attorney service."
whatsNew: true
---
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">Research &amp; Development</h2>
        <p class="govuk-body">Details of all our research while researching and building the Modernising Lasting Power of Attorney service.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/research-development" class="govuk-link govuk-!-font-weight-bold">Browse Research &amp; Development</a></p>
    </div>
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-l">Architectural Decision Records</h2>
        <p class="govuk-body">A record of all Architectural Decision Records made for building the service to guide development within teams.</p>
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="/adr" class="govuk-link govuk-!-font-weight-bold">Browse Architectural Decision Records</a></p>
    </div>
</div>
