{%- from "./contentMetaData.njk" import contentMetaData %}
{% macro indexList(title, content, collection) %}
<h1 class="govuk-heading-xl">{{title}}</h1>
{{ content | safe }}
{%- for article in collection | reverse -%}
    <article>
        <h1 class="govuk-heading-m">
            <a href="{{ article.url }}" class="govuk-link">
                {{ article.data.title }}
            </a>
        </h1>
        {{ contentMetaData(article.data.date, article.data.contributors) }}
    </article>
{%- endfor -%}
{% endmacro %}
