{%- from "./contentMetaData.njk" import contentMetaData %}
{% macro indexList(title, content, collection) %}
<h1 class="govuk-heading-xl">{{title}}</h1>
{{ content | safe }}
<ol class="govuk-list">
    {%- for article in collection | reverse -%}
    <li>
        <a href="{{ article.url }}" class="govuk-link">
            {{ article.data.title }}
        </a>

        {{ contentMetaData(article.data.date, article.data.contributors) }}
    </li>
    {%- endfor -%}
</ol>
{% endmacro %}
