<nav id="app-navigation" class="app-navigation js-app-navigation govuk-clearfix" role="navigation">
  <div class="govuk-width-container">
    <ul class="app-navigation__list">
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/research-development">
            Research & Development
            </a>
        </li>
        
        <li class="app-navigation__list-item ">
            <a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline app-navigation__link js-app-navigation__link" href="/adr">
            Architectural Decision Records
            </a>
        </li>
    </ul>
  </div>
</nav>
